<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'css/user_info.css' %}" />
  </head>
  <body>
    <header>
      <a href="" class="back">
        <img src="assets/arrow-back.svg" />
      </a>
      <a href="" class="setting">
        <img src="assets/three-dots-vertical-svgrepo-com.svg" />
      </a>
    </header>

    <main>
      <div class="info_container">
        <img src="assets/avatar.svg" />
        <h2>Min Khant</h2>
        <div class="icon__container">
          <a href="" class="phone">
            <img src="assets/phoe-call.svg" />
            <p>Audio</p>
          </a>
          <a href="" class="videocall">
            <img src="assets/video-call.svg" />
            <p>Video</p>
          </a>
          <a href="" class="profile">
            <img src="assets/user-svgrepo-com.svg" />
            <p>Profile</p>
          </a>
          <a href="" class="notification">
            <img src="assets/notification-bell-svgrepo-com.svg" />
            <p>Mute</p>
          </a>
        </div>
      </div>
      <div class="customization">
        <p>Customization</p>
        <a href="" class="theme">Theme</a>
        <a href="" class="quick_reaction">Quick Reaction</a>
        <a href="" class="nickname">Nickname</a>
        <a href="" class="word_effects">Word effects</a>
      </div>
    </main>
  </body>
</html>
